<% cache message do %>
<div id="chat-frame">
  <p class="chat-talk">
    <%# <%= image_tag current_user.image.to_s, class: "circle-avatar-message"%>
    <%# <span class="talk-icon"><%= message.user.username %>
    <%# </span> %>
    <span class="talk-content"><%= message.content %>
      <span class="talk-time"><%= message.created_at.strftime('%H:%M') %></span>
    </span>
  </p>
</div>
<% end %>