<div class ="top-text">
  <h1>Chat-app!!</h1>
  <h3>-新しい世界に飛び出そう-</h3>
  <div class="top-btn">
      <%= link_to "新規登録",signup_path, class:"btn btn-primary btn-space"%>
  </div>
  <div class="top-btn">
      <%= link_to "ログイン",login_path, class:"btn btn-primary"%>
  </div>
</div>

<div class="howto">
  <div class="howto-contents">
    <h4>Features</h4>
    <%=image_tag "slide/pc.png"%>
    <p>チャット機能を楽しむことが出来ます<br/>世界に飛び出してみましょう</p>
  </div>
</div>

<div class="servise">
  <h3>始めてみましょう</h3>
  <p>Chat-app!!は無料のチャットサービスです<br/>
  安心してサービスをお楽しみ頂けます</p>
  <%= link_to "新規登録",signup_path, class:"btn btn-primary"%>
</div>

<footer>
  <p>COPYRIGHT &#169; Chat-app!! ALL RIGHTS RESERVED. </p>
</footer>