*{
    margin: 0;
    padding: 0;
}

// navbar
.justify-content-end{
  padding-right: 20px;
  letter-spacing: 4px;
}
// チャット機能
.chat{
    text-align: center;
    margin-top: 80px;
  h1{
    border-bottom: 1px solid gray;
  }
  }
  #chat-frame {
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding: 1em 2em;
    background-color: #D8F3F0;
  }
  .chat-talk {
    font-size: 18px;
    overflow: hidden;
    margin: 0 0 1em 0;
    padding: 0;
  }
  .chat-talk span {
    display: block;
    margin: 0;
    padding: 0;
  }
  .chat-talk .talk-icon {
    float: left;
    width: auto;
    margin-top: 10px;
  }
  .chat-talk .talk-content {
    position: relative;
    box-sizing: border-box;
    width: auto;
    min-height: 50px;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 auto 0 70px;
    padding: 1em;
  }
  .chat-talk .talk-content:before {
    position: absolute;
    top: 15px;
    left: -20px;
    display: block;
    width: 0;
    height: 0;
    content: '';
    border: 10px solid transparent;
    border-right-color: #FFFFFF;
  }
  .talk-time {
    float: right;
    color: gray;
  }
  .form-inline{
      margin-left: 450px;
  }

//   root
.top-text{
    background-image: url(slide/top.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    height: 550px;
}
.title{
    padding: 40px 0 60px;
}
.top-btn{
    display: inline-block;
}
.btn{
    background-color: #142c5b;
    border: 1px dashed #FFF;
    box-shadow: 0px 0px 0px 5px #142c5b;
}
.btn-space{
    margin-right: 40px;
}
.carousel-item{
    height: 450px;
}

// Devise
.top-divise{
    background-image: url(slide/top-full.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    height: 853px;
    padding-top: 180px;
}
.top-box{
    background-color:rgba(255,255,255,0.5);
    width: 400px;
    margin: 0 auto;
    padding: 20px 0;
}
.form{
    width: 280px;
}

// エラー文
#error_explanation ul{
  list-style: none;
}

// アラート
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
  background-color: lightBlue;
}

// プロフィール画像
.circle-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
// Room/プロフィール画像
.circle-avatar-message{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  float: left;
}

// フォーム
::placeholder{
  text-align: center;
}